@import '@/assets/styles/mixins';

.forgot-password {
  &__stepper {
    &.stepper {
      display: flex;
    }
    align-items: center;
    margin-bottom: rem(60px);
  }
  &__title {
    font-size: rem(40px);
    line-height: rem(44px);
  }
  &__description {
    margin-top: rem(13px);
    font-size: rem(22px);
    line-height: 1;
    color: #878181;
  }
  &__title,
  &__description {
    text-align: center;
    text-wrap: balance;
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(100px);
    max-width: rem(418px);
    &__wrapper {
      position: relative;
      + button {
        margin-top: rem(170px);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
